{% extends 'base.html.twig' %}

{% block title %}AUT'O - Modification du mot de passe {% endblock %}

{% block body %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- navbar goes here -->
    <nav class="bg-gray-100">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">

                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a href="{{ path('app_home') }}" class="flex items-center py-5 px-2 text-gray-700">
                            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
                            <span class="font-bold">AUT'O</span>
                        </a>
                    </div>

                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-indigo-600">S'inscrire à une leçon</a>
                    </div>
                </div>

                <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="{{ path('app_profil') }}" class="py-5 px-3 text-gray-700 hover:text-indigo-600">Mon profil</a>
                    <a href="{{ path('app_logout') }}" class="py-2 px-3 bg-red-500 hover:bg-red-300 text-white hover:text-red-700 rounded transition duration-300">Se déconnecter</a>
                </div>

                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">S'inscrire à une leçon</a>
            <a href="{{ path('app_profil') }}" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-100 hover:bg-gray-200">
                Mon profil
            </a>
            <a href="{{ path('app_logout') }}" class="block w-full px-5 py-3 text-center font-medium text-red-600 bg-gray-100 hover:bg-gray-200">
                Se déconnecter
            </a>
        </div>

    </nav>
    <script>
        // grab everything we need
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        // add event listeners
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>

    <!-- content goes here -->
    <body class="bg-cover" style="background-image: url('https://wallpaperaccess.com/full/124068.jpg')">
    <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
        <h1 class="text-3xl font-medium">Modifier mon mot de passe</h1>
        <p class="text-slate-500">Modification du mot de passe de votre profile.</p>
        <br>
        {% for error in app.flashes('error') %}
            <div class="bg-red-100 rounded-lg py-3 px-6 mb-3 text-base text-red-700 inline-flex items-center w-full" role="alert">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                </svg>
                Les mots de passe ne sont pas identiques.
            </div>
        {% endfor %}
        <form class="my-10" method="POST">
            <div class="flex flex-col space-y-5">
                <label for="pwd">
                    <p class="font-medium text-slate-700 pb-2">Nouveau mot de passe</p>
                    <input id="pwd" name="pwd" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-indigo-500 hover:shadow" placeholder="Mot de passe...">
                </label>
                <label for="pwdCheck">
                    <p class="font-medium text-slate-700 pb-2">Confirmer le mot de passe</p>
                    <input id="pwdCheck" name="pwdCheck" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-indigo-500 hover:shadow" placeholder="Mot de passe...">
                </label>

                <button class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                    </svg>

                    <span>Valider</span>
                </button>
                <a href="{{ path('app_profil') }}" class="font-medium text-indigo-600 hover:text-indigo-500"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </div>
        </form>
    </div>
    </body>
{% endblock %}